{% extends "base_generic.html" %}

{% block subtitle %}Management - {{ username }}{% endblock %}

{% block sidebar %}
    <div id="sidebar">
        <img src="/static/pics/artwork/sidebar_header.png" />
        <div class="roundedcornr_box_708581" id="sidebar_links">
           <div class="roundedcornr_top_708581"><div></div></div>
              <div class="roundedcornr_content_708581">
                 Add movie<br />
                 Schedule movie<br />
              </div>
           <div class="roundedcornr_bottom_708581"><div></div></div>
        </div>
    </div>
{% endblock %}

